<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{resident.name}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{description}}
    </div>
  </section>
  {{/each}}
</div>