
  <div class="w3-container w3-row-padding w3-display-left">
   <!--<img src="../images/avatar.png" style="width:25%;" class="w3-round"><br><br>-->
<h4><b>DONATION PAGE</b></h4>
<div class="w3-bar-block w3-bottombar w3-padding-16 w3-animate-right">
  <ul  >
  <li class = "w3-padding-16">
     <a href = "/api/donation/view" class="w3-button w3-black">Donation history</a>
     </li>
     <li  class = "w3-padding-16">
      <a href = "/api/donation/contribute" class="w3-button w3-black">Contribute</a>
     </li>
     <!--
     <li  class = "w3-padding-16">
      <a href = "/api/donation/updates" class="w3-button w3-black">Donation updates</a>
     </li>
     <li  class = "w3-padding-16">
      <a href = "/api/donation/getinvolved" class="w3-button w3-black">Get Involved</a>
      </li>
    </ul>
    -->

  </div>

 



