<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="/images/slide1.jpg" class ="homeimage" alt="home" style="width:100%;border-style:solid">
      <h3>The Perfect Sandwich, A Real NYC Classic</h3>
      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img src="/images/slide2.jpg" class ="homeimage" alt="home" style="width:100%">
      <h3>Let Me Tell You About This Steak</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img src="/images/slide3.jpg" class ="homeimage"  alt="home" style="width:100%">
      <h3>Cherries, interrupted</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      <p>What else?</p>
    </div>
    <div class="w3-quarter">
      <img src="/images/slide4.jpg" class ="homeimage"  alt="home" style="width:100%">
      <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
  </div>

<footer class="w3-row-padding w3-padding-64 w3-opacity w3-grey">
    <div class = "w3-container w3-small w3-display-left w3-responsive w3-hide-small" style="width:30%">
<div class ="card-transparentr">
<form class="form " style="width:30%">
  
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputEmail2" placeholder="email address">
   <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputphone2" placeholder="contact#">

 
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputMessage2" placeholder="message" >

   <button type="submit" class="btn btn-warning btn-sm ">Write to us!</button>
   </div>
</form> 
</div>
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-full" style="font-size:1rem"> @team10</div>
  </div>
  </footer>


