<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="/images/slide1.jpg" class ="homeimage" alt="neighbors" style="width:100%;border-style:solid">
      <h3>Connect with your neighbors</h3>
      <p>Meet new people in your community on the forum!</p>
    </div>
    <div class="w3-quarter">
      <img src="/images/slide2.jpg" class ="homeimage" alt="neighborhood party" style="width:100%">
      <h3>Plan neighborhood events</h3>
      <p>Trying to get everyone over for your next backyard BBQ? Community Connect makes it easy to arrange local get-togethers!</p>
    </div>
    <div class="w3-quarter">
      <img src="/images/slide3.jpg" class ="homeimage"  alt="donation drive" style="width:100%">
      <h3>Start a donation drive</h3>
      <p>Support local people in need with a customized, easy to share donation or fundraiser!</p>
    </div>
    <div class="w3-quarter">
      <img src="/images/slide4.jpg" class ="homeimage"  alt="neighbors talking" style="width:100%">
      <h3>Stay informed about your community</h3>
      <p>Check out news concerning your local area!</p>
    </div>
  </div>
   <footer class="w3-row-padding w3-padding-32 w3-grey">
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-full" style="font-size:1rem"> @team10</div>
  </div>
  </footer>