<head>
<title>CommunityConnect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">


<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
<style>

</style>
</head>
<body>

<!-- Navbar (sit on top) container-fluid mt-5 -->

<main>


     
        {{{ body }}}
      </main>
</div>

<!-- Footer 
<footer class="w3-center w3-light-grey w3-padding-32" style="position: absolute; bottom:0;width: 100%;text-align:center">
  <p>Powered by <a href="projectteam10" title="projectteam10" target="_blank" class="w3-hover-text-green">project team10</a></p>
</footer>-->

</body>

</html>

