{{>navbar}}
   


  <div class="w3-card w3-hide-small w3-row-padding w3-display-right w3-opacity" style="width:100%;height:auto">
 

    <img src="/images/event2.jpg" alt="donation">
   </div>
<div class="w3-container w3-responsive w3-display-middle w3-blue   w3-border-blue news" style = "width:70%;overflow-y:scroll;height:70%">
   <a href = "/api/posts/" class="w3-button w3-grey w3-display-bottom-right" >Go to Event page</a>
<form class="new-post-form" >
    <div>
      <label for="post-title">Event Name </label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Event Name" required/>
    </div>
    <div>
      <label for="post-date">Event Date:</label>
      <input class="input" type="date"  id="post-date" name="post-date" required/>
    </div>
    <div>
      <label for="post-date">Event Time:</label>
      <input class="input" type="time"  id="post-time" name="post-time" required />
    </div>
    <div>
      <label for="post-content">Description:</label>
      <input class="textarea is-small" id="post-content" name="post-content" placeholder="Event Description" required/>
    </div><br>
   <button type="submit" class="button is-primary is-pulled-right">CREATE EVENT</button><br>
  
  </form>
</section>
</div>
<!--
<script src="/js/addevent.js"></script>
-->

<script src="/js/addevent.js"></script>

