{{>navbar}}

<div class="w3-card w3-responsive w3-row-padding w3-display-middle news" style = " overflow: auto;outline-style: solid; width:60%;height:auto">
  <img alt="Contact" class="hero-background is-transparent" src="/images/contact.jpg" />
  <div class="hero-body">
    <div class="container">
      <center class="title is 2">Contact Us</center>
     <form class="form contact-form">
   
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" placeholder="valid email address required" required>
        <label for="contact">Contact#</label>
        <input type="text" id="contact" name="contact" placeholder="###-###-####">
        <label for="subject">What can we help you with?</label>
        
          <textarea id="subject" class="textarea" name="subject" placeholder="message required"></textarea>
 
        <input class ="btn btn-warning" type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>
</div>



  <script src="/js/contact.js"></script>

