
  <div class="w3-container w3-row-padding">
   <!--<img src="../images/avatar.png" style="width:25%;" class="w3-round"><br><br>-->
<h4><b>DONATION PAGE</b></h4>
<div class="w3-bar-block w3-bottombar w3-padding-16 w3-animate-right ">
  <ul  >
  <li class = "w3-padding-16">
     <button class="w3-button w3-black">View your donations</button>
     </li>
     <li  class = "w3-padding-16">
     <button class="w3-button w3-black">Contribute</button>
     </li>
     <li  class = "w3-padding-16">
     <button class="w3-button w3-black">Donation updates</button>
     </li>
     <li  class = "w3-padding-16">
      <button class="w3-button w3-black">Get Involved</button>
      </li>
    </ul>
  </div>

  </div>

