
{{>navbar}}

<div class="w3-container w3-responsive w3-display-middle">
 <h4><b>EVENT PAGE</b></h4>
  <table class="w3-table-all w3-card-4 w3-padding-16 w3-animate-right w3-centered " style ="border: 1px solid white;border-spacing: 30px;">
    <tr>
        <td class ="w3-blue" style ="padding: 15px; border: 1px solid white;border-spacing: 30px;">
      <button class="w3-button  btn" id ="January">January</button>
      </td>
      <td class ="w3-blue" style ="padding: 15px; border: 1px solid white;border-spacing: 30px;">
   <button class="w3-button  btn" id ="February">February</button>
    </td>
    <td class ="w3-blue" style ="padding: 15px; border: 1px solid white;border-spacing: 30px;">
     <button class="w3-button w3-blue btn" id="March">March</button>
     </td>
    </tr>
     <tr>
        <td class ="w3-blue" style ="padding: 15px; border: 1px solid white;border-spacing: 30px;">
       <button class="w3-button w3-blue btn" id="April">April</button>
       </td>
       <td class ="w3-blue" style ="padding: 15px; border: 1px solid white;border-spacing: 30px;">
      <button class="w3-button w3-blue btn" id="May">May</button>
      </td>
      <td class ="w3-blue" style ="padding: 15px; border: 1px solid white;border-spacing: 30px;">
       <button class="w3-button w3-blue btn" id="June">June</button>
       </td>
    </tr>
    <tr>
        <td class ="w3-blue" style ="padding: 15px; border: 1px solid white;border-spacing: 30px;">
    <button class="w3-button w3-blue btn" id="July">July</button>
    </td>
   <td class ="w3-blue" style ="padding: 15px; border: 1px solid white;border-spacing: 30px;">
      <button class="w3-button w3-blue btn" id="August">August</button>
      </td>
      <td class ="w3-blue" style ="padding: 15px; border: 1px solid white;border-spacing: 30px;">
      <button class="w3-button w3-blue btn" id="September">September</button>
      </td>
    </tr>
    <tr>
       <td class ="w3-blue" style ="padding: 15px; border: 1px solid white;border-spacing: 30px;">
      <button class="w3-button w3-blue btn" id="October">October</button>
      </td>
      <td class ="w3-blue" style ="padding: 15px; border: 1px solid white;border-spacing: 30px;">
      <button class="w3-button w3-blue btn" id="November">November</button>
      </td>
      <td class ="w3-blue" style ="padding: 15px; border: 1px solid white;border-spacing: 30px;">
      <button class="w3-button w3-blue btn" id="December">December</button>
      </td>
    </tr>
   
  </table>
</div>

<div class="w3-container w3-responsive">
 
  <table class="w3-table-all w3-card-4 w3-padding-16 w3-animate-right w3-centered "  id ="myTable" style ="border: 1px solid white;border-spacing: 30px;">
      </table>
</div>


<script src='/js/caltable.js'></script>