{{>navbar}}

{{>galleryupload}}



<div class="w3-container w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid /controllers/api/public/images/homepage_1.jpg-->
  <div >
    <div class="">
      <img src="../public/images/homepage_1.jpg" alt="Sandwich" >
     
    </div>


    </div>


<!--
     <h3>The Perfect Sandwich, A Real NYC Classic</h3>
      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      -->

